@import "./components/Tracker.scss";
@import "./components/Loading.scss";
@import "./components/Header.scss";
@import "./components/NotFound.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  color: #555;
  background: #222;
  text-align: center;
  font-family: 'Roboto Mono';
  padding: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}